* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// temp css because app is currently only available on mobile
#root {
  margin: auto;
  max-width: 768px;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

.navbar {
  z-index: 10;

  position: sticky;
  top: 0;

  background-color: white;

  box-shadow: 5px 5px 10px rgba(211, 211, 211, 0.5);

  border-radius: 15px;

  margin: auto;

  height: 12vh;
  width: 95%;

  padding: 0 7%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a > img {
    max-height: 7vh;
    border: 1px solid grey;
    border-radius: 50%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      width: 50%;

      padding: 0 10px;

      > img,
      svg {
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
      }
      > img {
        border: 1px solid grey;

        padding: 2px;
      }
    }
  }
}

.profile-menu {
  border: 1px solid lightgrey;
  border-radius: 5px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 8vh;
  right: 17%;

  height: 55vh;
  width: 70%;

  background-color: white;

  z-index: 11;

  .profile {
    border-bottom: 1px solid lightgrey;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

    a {
      border: 1px solid grey;
      border-radius: 50%;

      height: 75%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 2px;
      }
    }
    .profile-details {
      height: 75%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      flex-wrap: wrap;

      span {
        color: grey;
        font-size: 0.8rem;
      }
    }
  }
  ul {
    height: 75%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    li {
      margin: 0 7%;

      a {
        display: flex;
        align-items: center;
        gap: 15px;
        svg {
          font-size: 1.7rem;
        }
      }
    }
  }
}

.carousel-container {
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  img {
    padding: 5%;
    width: 100%;
    height: 35vh;
    object-fit: contain;
    border-radius: 10px;
  }
}

.product-cards-container {
  padding: 3%;
  .product-card {
    padding: 5% 3%;
    border-bottom: 1px solid lightgrey;

    .product-details-section {
      display: flex;
      padding: 5px;

      .product-details {
        padding: 10px;
        width: 70%;
        span {
          padding: 5px 0;
          color: grey;
        }
      }
      .product-rating {
        border-left: 1px solid grey;

        width: 30%;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-left: 5px;
          font-size: 0.8rem;
        }
      }
    }

    .product-interactive-buttons {
      border: 1px solid grey;
      border-radius: 15px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 10px 15px;

      margin-top: 5px;

      font-size: 1.5rem;

      div {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        svg {
          font-size: 1.7rem;
        }
        .like-heart {
          color: red !important;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid #075e54;
        border-radius: 10px;
        outline: none;

        background-color: #075e54;
        color: white;

        padding: 10px 20px;

        font-size: 1rem;

        svg {
          font-size: 1.5rem;
          margin-left: 10px;
        }
      }
    }

    img {
      width: 100%;
      border: 1px solid lightgrey;
      border-radius: 10px;
    }
  }
}

// code below is generated through chatGPT
.footer {
  background-color: #000; // Black background
  color: #fff; // White text color

  .container {
    .footer-content {
      padding: 50px 25px;

      display: flex;
      flex-direction: column;
      gap: 25px;
      .footer-section {
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 15px;

        .social {
          display: flex;
          justify-content: center;
          gap: 15px;

          font-size: 1.5rem;
        }
      }
    }
  }

  .footer-bottom {
    background-color: #333; // Darker background for the bottom section
    padding: 15px 0;
    text-align: center;
    letter-spacing: 1px;

    p {
      font-size: 1rem;
    }
  }
}

// Loader.scss

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.skeleton-loader {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.skeleton-shape {
  height: 30px;
  width: 100%;
  background-color: #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: skeleon-loading 1.5s infinite;
}

@keyframes skeleon-loading {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
