.cart-items-page {
  > h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    padding: 5%;

    background-color: white;
    color: grey;

    border: 1px solid lightgrey;

    > svg {
      font-size: 1.5rem;
    }
  }

  .not-product-cart-message-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    > span {
      padding: 5vw;
      color: grey;
    }
  }
}
