.home {
  width: 100%;
  .carousel-container {
    margin: 7%;
    img {
      padding: 0;
      width: 100%;
      object-fit: cover;
    }
  }
  .sliding-carousel-container {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 20px 0;
    border-radius: 10px;
    h2 {
      margin-bottom: 20px;
      text-align: center;

      text-transform: uppercase;

      font-size: 1.2rem;
      letter-spacing: 2px;
    }

    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 5px 5px 10px rgba(211, 211, 211, 0.5);
    }
    .description {
      background-color: rgba(211, 211, 211, 0.5);
      margin: 5px 0;
      padding: 10px;
      width: 100%;
      text-align: center;
    }
    > a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;

      padding: 5% 5% 0vw 0;

      text-transform: uppercase;
      letter-spacing: 2px;

      font-size: 0.8rem;

      color: grey;

      svg {
        font-size: 1.2rem;
      }
    }
  }
  .store-map-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;

    h2 {
      text-align: center;

      text-transform: uppercase;

      font-size: 1.2rem;
      letter-spacing: 2px;
    }

    .map {
      height: 50vh;
      width: 80%;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px;

      > iframe {
        height: 100%;
        width: 100%;

        padding: 1px;

        border: 1px solid lightgrey;
        border-radius: 15px;
      }
    }
  }
}
