.shop-page {
  height: 88vh;

  .search-bar-wrapper {
    border-radius: 25px;

    position: sticky;
    top: 12vh;

    z-index: 10;

    height: 10vh;
    width: 80%;

    margin: auto;

    display: flex;
    align-items: center;

    .search-bar-container {
      background-color: white;
      border: 1px solid black;
      border-radius: 5px;

      height: 8vh;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 5px 10px;

      input {
        border: none;
        outline: none;
        font-size: 0.95rem;
        height: 100%;
        width: calc(100% - 7vh);
      }
      svg {
        height: 6vh;
        width: 6vh;

        padding: 5px;
        margin-right: 1px;

        border: 1px solid grey;
        border-radius: 50%;
      }
    }
  }

  .product-cards-container {
    height: 67vh;

    overflow-y: scroll;
  }

  .filter-container {
    border: 1px solid grey;
    background: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    position: fixed;
    bottom: 0;

    padding: 2%;

    height: 11vh;
    width: 100%;

    select {
      height: 100%;
      width: 50%;

      padding: 10px;

      border: 1px solid grey;
      border-radius: 10px;
      outline: none;
    }
  }
}

.footer {
  display: none;
}
